page-more {
	h2.title {
		margin: 10%;
		margin-top: 15% !important;
		text-align: center;
		color: map-get($colors, danger);;
		font-size: 3em;
		font-weight: bold;
		font-family: Helvetica;
		text-shadow: 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
	}
}
