<!--
  Generated template for the EventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="event">Check-ins</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card class="card-background-page" *ngIf="event">
    <div class="card-title">{{event.name}}</div>
    <div class="card-subtitle">{{event.group.name}}</div>
    <button ion-button color="light" *ngIf="!checked_in" outline (click)="checkIn(event.id)">Check In</button>
  </ion-card>

	<ion-card>
	  <ion-card-header>
	    Checked-In Members
	  </ion-card-header>
	  <ion-searchbar *ngIf="count" (ionInput)="getItems($event)"></ion-searchbar>
	  <ion-list *ngIf="check_ins">
		  <ion-item *ngFor="let checkin of checkInsList" (click)="showOptions(event.id, event.name, checkin)">
		    <ion-avatar item-left>
		      <img src="{{checkin.photo.thumb_link}}">
		    </ion-avatar>
		    <h2>{{checkin.name}}<small *ngIf="checkin.id == user.id"> - You</small></h2>
		    <p *ngIf="checkin.bio">{{checkin.bio}}</p>
		  </ion-item>
	  </ion-list>
	  <p class="none" *ngIf="!count">No one has checked in yet!</p>
	  <p class="none" *ngIf="checkInsList.length < 1">No match found!</p>
	</ion-card>

	<ion-spinner *ngIf="!event" color="danger"></ion-spinner>

</ion-content>
