page-event {

	  ion-card.card-background-page {
	    position: relative;
	    text-align: center;
	    vertical-align: middle;
	    min-height: 30%;
	    background: #f53d3d;
	    padding: 10%;
	  }

	  .card-title {
	    font-size: 2.0em;
	    width: 100%;
	    font-weight: bold;
	    color: #fff;
	  }

	  .card-subtitle {
	    font-size: 1.0em;
	    width: 100%;
	    color: #fff;
	    margin-bottom: 10px;
	  }

	  ion-card-header {
	  	text-align: center;
	  }

}
