page-profile {
	.snip1344 {
	  position: relative;
	  float: left;
	  overflow: hidden;
	  width: 100%;
	  color: #ffffff;
	  text-align: center;
	  line-height: 1.4em;
	  background-color: #f53d3d;
	  max-height: 50%;
	  margin-bottom: 10px;
	}
	.snip1344 * {
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  -webkit-transition: all 0.25s ease;
	  transition: all 0.25s ease;
	}
	.snip1344 .background {
	  width: 100%;
	  vertical-align: top;
	  opacity: 0.4;
	  -webkit-filter: grayscale(100%) blur(10px);
	  filter: grayscale(100%) blur(10px);
	  -webkit-transition: all 2s ease;
	  transition: all 2s ease;
	}
	.snip1344 figcaption {
	  width: 100%;
	  padding: 15px 25px;
	  position: absolute;
	  left: 0;
	  top: 50%;
	}
	.snip1344 .profile {
	  border-radius: 50%;
	  position: absolute;
	  bottom: 50%;
	  left: 50%;
	  max-width: 100px;
	  opacity: 1;
	  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
	  border: 2px solid rgba(255, 255, 255, 0.5);
	  -webkit-transform: translate(-50%, 0%);
	  transform: translate(-50%, 0%);
	}
	.snip1344 h3 {
	  margin: 0 0 5px;
	  font-weight: 400;
	}
	.snip1344 h3 span {
	  display: block;
	  font-size: 0.5em;
	  color: #000;
	  opacity: 0.75;
	  font-weight: 300
	}
	.snip1344 ion-icon {
	  padding: 15px 20px;
	  display: inline-block;
	  font-size: 30px;
	  color: #ffffff;
	  text-align: center;
	  opacity: 0.65;
	}
	.snip1344 ion-icon:hover {
	  opacity: 1;
	  -webkit-transition: all 0.35s ease;
	  transition: all 0.35s ease;
	}
	.snip1344 a {
	  text-decoration: none;
	}

	figure {
	    margin: 0;
	}

}
