<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewProfile(user)" >
        <ion-icon name="ios-contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let connect of connectsList" (click)="showOptions(connect)">
      <ion-avatar *ngIf="connect.photo" item-left>
        <img src="{{connect.photo.thumb_link}}">
      </ion-avatar>
      <ion-avatar *ngIf="!connect.photo" item-left>
          <img src="../assets/img/avatar.gif">
        </ion-avatar>
      <h2>{{connect.name}}</h2>
      <h3>{{connect.bio}}</h3>
      <p>Met at {{connect.eventName}}</p>
    </ion-item>
  </ion-list>
  <ion-spinner *ngIf="connectsList.length < 1" color="danger"></ion-spinner>
  <p class="none" *ngIf="connectsList.length < 1">No connects found.</p>
</ion-content>
