page-groups {
	.segment-md .segment-button
	{
		color: map-get($colors, danger);
	}

	.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated
	{
		    border-color: map-get($colors, danger);
	}

	.read-more {
		color: map-get($colors, danger );
	}
}
